# Java
target/
*.class
*.jar
*.war
*.ear
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/

# Go
network-tools/sniffer
network-tools/go.sum

# IDEs
.idea/
.vscode/
*.swp
*.iml

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Database
postgres_data/
*.db
